/* GENERAL */

body{
font-family:Arial, sans-serif;
margin:0;
background:#f5f7fa;
}


/* HEADER */

.header{
background:#1a4c7c;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
}

.logo-box{
display:flex;
align-items:center;
}

.logo{
width:55px;
margin-right:10px;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}


/* HERO */

.hero{
background:#2c7be5;
color:white;
text-align:center;
padding:120px 20px;
}

.hero h2{
font-size:40px;
margin-bottom:20px;
}

.hero p{
max-width:700px;
margin:auto;
font-size:18px;
}


/* BUTTON */

.donate-btn{
background:orange;
padding:14px 28px;
color:white;
text-decoration:none;
border-radius:6px;
display:inline-block;
margin-top:25px;
font-weight:bold;
}


/* SECTIONS */

.section{
padding:60px 20px;
text-align:center;
}

.section p{
max-width:700px;
margin:auto;
}


/* GRID */

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
margin-top:30px;
}


/* CARDS */

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
text-align:left;
}

.card img{
width:100%;
border-radius:6px;
margin-top:10px;
}

video{
width:100%;
margin-top:10px;
border-radius:6px;
}


/* FOOTER */

footer{
background:#222;
color:white;
text-align:center;
padding:40px;
margin-top:40px;
}


/* ADMIN DASHBOARD */

.admin-body{
background:#eef2f7;
}

.admin-container{
max-width:700px;
margin:auto;
padding:40px;
}

.form-box{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.form-box input,
.form-box textarea{

width:100%;
padding:12px;
margin-top:8px;
margin-bottom:20px;
border:1px solid #ccc;
border-radius:6px;

}

.publish-btn{

background:#2c7be5;
color:white;
padding:14px;
border:none;
border-radius:6px;
width:100%;
font-size:16px;
cursor:pointer;

}

.publish-btn:hover{
background:#1a5dc9;
}


/* PREVIEW */

.preview{
width:100%;
margin-bottom:20px;
display:none;
border-radius:6px;
}


/* LOGIN PAGE */

.login-box{

max-width:400px;
margin:120px auto;
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
text-align:center;

}

.login-box input{

width:100%;
padding:12px;
margin-bottom:20px;
border:1px solid #ccc;
border-radius:6px;

}

#error{
color:red;
margin-top:10px;
  }
